
<mat-toolbar>
    <button mat-icon-button routerLink="/inicio" class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>home</mat-icon>
   </button>
   <span>My App</span>
   
   <span class="example-spacer"></span>

   <!--ENRUTAMOS PAGINAS-->
   <button mat-button routerLink="/inicio">Inicio</button>
   <button mat-button routerLink="/nosotros">Nosotros</button>
   <button mat-button [matMenuTriggerFor]="menu">Productos</button>
   <!-- MENU despegable para Productos-->
   <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/productos">Productos</button>
    <button mat-menu-item routerLink="/cabinasuvled">Cabinas UV/LED</button>
    <button mat-menu-item routerLink="/decoracion">Decoracion</button>
    <button mat-menu-item routerLink="/esmaltes">Esmaltes</button>
  </mat-menu>
   <button mat-button routerLink="/admin">Admin</button>

   <span class="example-spacer"></span>

   <!--Menu depegable para usuarios (registro y login)-->
   <!--Va a contener los formularios de acceso-->
   <button mat-button [matMenuTriggerFor]="user"><mat-icon>person</mat-icon></button>
   <mat-menu #user="matMenu">
    <button mat-menu-item routerLink="/login">Iniciar sesion <mat-icon>person</mat-icon></button>
    <button mat-menu-item routerLink="/register">Registrarse <mat-icon>person_add</mat-icon></button>
  </mat-menu>

   
 </mat-toolbar>
